
 .title {
  color: rgb(6, 6, 14);
  text-align: center;
  height: 70px;
  background-color: skyblue;
}

.p {
  height: 88px;
  align-items: center;
  font-size: large;
  text-align: center;
  background-color: tomato;
}

.p2 {
  text-align: center;
  height: 200px;
  font-size: larger;
  background-color: tomato;
}
